In [4]:
li=["water","rooter","three","four",5]
print(li[-1])

5

In [5]:
li[1:]

['rooter', 'three', 'four', 5]

In [6]:
li[-1:
   ]

[5]

In [7]:
li[1:]

['rooter', 'three', 'four', 5]

In [8]:
li[1:]="watermelon"

In [12]:
li[4]="hi"

In [13]:
li

['water', 'w', 'a', 't', 'hi', 'r', 'm', 'e', 'l', 'o', 'n']

In [14]:
#to add aelemt at the end of the list
li.append("good morning")

In [15]:
li

['water', 'w', 'a', 't', 'hi', 'r', 'm', 'e', 'l', 'o', 'n', 'good morning']

In [ ]:
#to add an item at a specify index we use insert method
li.insert(0,"moon")
li

['moon',
 'star',
 'water',
 'w',
 'a',
 't',
 'hi',
 'r',
 'm',
 'e',
 'l',
 'o',
 'n',
 'good morning']

In [18]:
#removing the first occurance defined item
li.remove("m")

In [19]:
li

['moon',
 'star',
 'water',
 'w',
 'a',
 't',
 'hi',
 'r',
 'e',
 'l',
 'o',
 'n',
 'good morning']

In [21]:
list1=["apple","orange","carrot","beans","watermelon","cactus"]
popped_item = list1.pop()
print(popped_item)
print(list1)

cactus
['apple', 'orange', 'carrot', 'beans', 'watermelon']

In [23]:
list1.reverse()
list1

['watermelon', 'beans', 'carrot', 'orange', 'apple']

In [26]:
list1.clear()

In [27]:
list1

[]

In [ ]:
fruits = ["apple", "banana", "mango", "pomegranate", "watermelon", "muskmelon", "Apple", "Mango"]
fruits.sort()
print(fruits)

'''

Python compares ASCII/Unicode values of characters.
Uppercase letters (A–Z) come before lowercase letters (a–z).
'A' has ASCII value 65
'a' has ASCII value 97
That’s why "Apple" comes before "apple".

'''

['Apple', 'Mango', 'apple', 'banana', 'mango', 'muskmelon', 'pomegranate', 'watermelon']

'\n\nPython compares ASCII/Unicode values of characters.\nUppercase letters (A–Z) come before lowercase letters (a–z).\n\'A\' has ASCII value 65\n\'a\' has ASCII value 97\nThat’s why "Apple" comes before "apple".\n\n'

In [31]:
#if we want to sort thewords based on their length then

fruits.sort(key=len)
fruits

['Apple',
 'Mango',
 'apple',
 'mango',
 'banana',
 'muskmelon',
 'watermelon',
 'pomegranate']

In [27]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(numbers[-2:5:-1])

[90, 80, 70]

In [46]:
for num in numbers:
    print(num)

10
20
30
40
50
60
70
80
90
100

In [50]:
for index,num in enumerate(numbers):
    print(index,num)

0 10
1 20
2 30
3 40
4 50
5 60
6 70
7 80
8 90
9 100

In [56]:
lst=[]
for i in range(0,10):
    lst.append(i)
    print(lst[i])
print(lst)

0
1
2
3
4
5
6
7
8
9
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
lst=[1,2,3,4,5,6,7,8,9,10]
for num in range(len(lst)):
    if(num<4):
        # print(num)
        print(lst[num],num)
        lst.remove(lst[num])
        print(lst,num)
print(lst)

1 0
[2, 3, 4, 5, 6, 7, 8, 9, 10] 0
3 1
[2, 4, 5, 6, 7, 8, 9, 10] 1
5 2
[2, 4, 6, 7, 8, 9, 10] 2
7 3
[2, 4, 6, 8, 9, 10] 3
[2, 4, 6, 8, 9, 10]

In [71]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

In [72]:
for i in range(len(fruits)):
    print(i,fruits[i])

0 apple
1 banana
2 cherry

1
3
5
7
9
[1, 9, 25, 49, 81]

In [ ]:
#list compreshension 
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
'''
'''

'\n'

In [4]:
lst1=[1,2,3,4,5,6]
lst2=["a","b","c","d","e","f"]
lst3=[]
count=0
for i in range(len(lst1)):
    count=0
    for j in range(i,len(lst2)):
        if count<1:
            lst3.append([lst1[i],lst2[j]])
            count=1

print(lst3)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd'], [5, 'e'], [6, 'f']]

In [8]:
lst1=[1,2,3,4,5]
lst2=['a','b','c','d','e']
lst3=[]
for num,i in enumerate(lst1):
    lst3.append([num,lst2[i]])
print(lst3)

IndexError: list index out of range

In [13]:
lst1=[1,2,3,4,5,6]
lst2=["a","b","c","d","e","f"]
lst3=[]

for i,num in enumerate(lst1):
    lst3.append([num,lst2[i]])

print(lst3)

[[1, 'a'], [2, 'b'], [3, 'c'], [4, 'd'], [5, 'e'], [6, 'f']]

In [16]:
lst4=[]
for i in range(len(lst1)):
    for j in range(len(lst2)):
        lst4.append([lst1[i],lst2[j]])

print(lst4)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [1, 'f'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [2, 'f'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [3, 'f'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [4, 'f'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e'], [5, 'f'], [6, 'a'], [6, 'b'], [6, 'c'], [6, 'd'], [6, 'e'], [6, 'f']]

In [ ]:
# [[i,j] for i in lst1 for j in lst2 ]

#####################

[[1, 'f'],
 [1, 'f'],
 [1, 'f'],
 [1, 'f'],
 [1, 'f'],
 [1, 'f'],
 [2, 'f'],
 [2, 'f'],
 [2, 'f'],
 [2, 'f'],
 [2, 'f'],
 [2, 'f'],
 [3, 'f'],
 [3, 'f'],
 [3, 'f'],
 [3, 'f'],
 [3, 'f'],
 [3, 'f'],
 [4, 'f'],
 [4, 'f'],
 [4, 'f'],
 [4, 'f'],
 [4, 'f'],
 [4, 'f'],
 [5, 'f'],
 [5, 'f'],
 [5, 'f'],
 [5, 'f'],
 [5, 'f'],
 [5, 'f'],
 [6, 'f'],
 [6, 'f'],
 [6, 'f'],
 [6, 'f'],
 [6, 'f'],
 [6, 'f']]

In [25]:

[[lst1[i],lst2[j]] for i in range(len(lst1)) for j in range(len(lst2))]

[[1, 'a'],
 [1, 'b'],
 [1, 'c'],
 [1, 'd'],
 [1, 'e'],
 [1, 'f'],
 [2, 'a'],
 [2, 'b'],
 [2, 'c'],
 [2, 'd'],
 [2, 'e'],
 [2, 'f'],
 [3, 'a'],
 [3, 'b'],
 [3, 'c'],
 [3, 'd'],
 [3, 'e'],
 [3, 'f'],
 [4, 'a'],
 [4, 'b'],
 [4, 'c'],
 [4, 'd'],
 [4, 'e'],
 [4, 'f'],
 [5, 'a'],
 [5, 'b'],
 [5, 'c'],
 [5, 'd'],
 [5, 'e'],
 [5, 'f'],
 [6, 'a'],
 [6, 'b'],
 [6, 'c'],
 [6, 'd'],
 [6, 'e'],
 [6, 'f']]

In [28]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(numbers[-2:5:-1])

[90, 80, 70]

In [29]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
print(numbers[-2:-5:-1])

[90, 80, 70]

In [3]:
a=[1,2,3,4,5]
lst=list(a)
print(type(lst))
print(type(a))

<class 'list'>
<class 'list'>

In [ ]:
t=tuple([1,2,3,4,5])
print(t)
print(type(t))

(1, 2, 3, 4, 5)

tuple

In [15]:
lst=[(1,2,3,4,5)]
type(lst)

list

In [20]:
l1=tuple([9,2,3,4])
print(type(l1))

<class 'tuple'>

In [21]:
number=(1,2,3,4,5,6)
type(number)

tuple