In [1]:
1+1

2

In [ ]:
num1=float(input("enter the number"))
num2=float(input("enter the second number"))
symbol=input("enter the symbol")
match symbol:
  case "+":
    print(num1 + num2)
  case "-":
    print(num1 - num2)
  case "*":
    print(num1 * num2)
  case "/":
    print(num1 / num2)
  case _:
    print("Invalid symbol")

In [ ]:
a=10
b=20

type(a<b)

bool

In [14]:
s= "hello"  + str(5)
print(s)

hello5

In [16]:
a=5/2
b=5//2
c=5%2
print(a,b,c)

2.5 2 1

In [36]:
# logical operators

t=2

p=3

print(t or p)

2

In [31]:
print(0 and 5)   # 0   (first is falsy, so stop there)
print(5 and 0)   # 0   (first truthy, so return second)
print(5 and 7)   # 7   (both truthy, return second)
print("" and 10) # ""  (empty string is falsy)/

0
0
7

In [6]:
num=int(input("enter the year"))
if num%4==0:
    if num%100!=0:
        if num%400==0:
            print(f"this year {num} is a leap year ")
        else:
            print("it is not")
    else:
        print("this is a leap year")
else:
    print("it is not a leap year")

it is not

In [12]:
i=0
for i in range(0,10,i+2):
    print(i)

0
2
4
6
8

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [18]:
t="hello world"

for i in range(1,len(t)):
    print(i,t[i])

1 e
2 l
3 l
4 o
5
6 w
7 o
8 r
9 l
10 d

In [21]:
for i in range(0,10,2):
    if i==5:
        break
    print(i)

0
2
4
6
8

In [7]:
n=10
count=1
sum=0
while count<=n:
    sum=sum+count
    count=count+1
print(sum)

print(int((n*(n+1))/2))

55
55

In [11]:
n=10
sum=0
count=1
for i in range(n+1):
   
        sum=sum+i

print(sum)

55

In [1]:
num=int(input("enter"))

if num<=1:
        print("no")
else:
    for i in range(2,num):
          if num%i==0:
                print("no")
                break
          else:
                print("yes")

yes
yes
yes