In [1]:
1+1

2

In [ ]:
num1=float(input("enter the number"))
num2=float(input("enter the second number"))
symbol=input("enter the symbol")
match symbol:
  case "+":
    print(num1 + num2)
  case "-":
    print(num1 - num2)
  case "*":
    print(num1 * num2)
  case "/":
    print(num1 / num2)
  case _:
    print("Invalid symbol")

In [9]:
 a=10
 b=20

 type(a<b)

bool

In [14]:
s= "hello"  + str(5)
print(s)

hello5

In [ ]:
str.

In [16]:
a=5/2
b=5//2
c=5%2
print(a,b,c)

2.5 2 1

In [36]:
# logical operators

t=2

p=3

print(t or p)

2

In [31]:
print(0 and 5)   # 0   (first is falsy, so stop there)
print(5 and 0)   # 0   (first truthy, so return second)
print(5 and 7)   # 7   (both truthy, return second)
print("" and 10) # ""  (empty string is falsy)/

0
0
7